<!DOCTYPE html>
<title>Leave form </title>
<form method="POST">

    Select the type of leave : <select name="leave_type">
        <option>Sick Leave</option>
        <option>Casual Leave</option>
        <option>Annual Leave</option>
        <option>Emergency Leave</option>
    </select>
    Enter the starting date : <input type="date" name="start_date">
    Enter the ending date : <input type="date" name="end_date">
    Enter the reason for the leave : <input type="text" name="reason">
    
    <input type="submit" value="Submit">
</form>